body {
    margin: 0;
    padding: 0;
    background-color: cyan;
    opacity: 30;
    font-family: sans-serif;
  }

   
  .container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    margin-top: 50px;
  }
  
  .form-group {
    margin-top: 30px;

  }

  .result {
    background-color:#ddd;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="number"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
  }
  
  p {
    color: black;
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    text-align: center;

  }

  button {
    padding: 10px 30px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
  }
  
  button:hover {
    background-color: #444;
  }
  